<html>
<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>

<h1 class="center">Welcome to the home page of my alpha blog</h1>

<h2 class="center"><%= link_to 'Home', root_path %></h2>
<h2 class="center"><%= link_to 'About', about_path %></h2>

<div class="center"><%= image_tag 'Mt_Whitney_Car.jpg' %></div>
</html>

